html, body{
    background-color: transparent;
}

.top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    /* background-color: red; */
    background-image: url('https://i.gifer.com/4vMN.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}

.top-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 2;
    background-color: #183da7bf;
}

.bot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background-color: red;
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color: red;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color: red;
}